a {
  text-decoration: none;
}
/*
.hd {
  position: absolute;
  top: 0;
  background: rgb(0, 188, 212);
  width: calc(100% - 200px);
  height: 64px;
  text-align: center;
  line-height: 64px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.content {
  position: absolute;
  top: 64px;
  width: calc(100% - 200px);
  height: 100%;
  background: white;
  padding-left: 20px;
}
*/
